.inpDefStd {
    font-family: var(--standart-font);
    font-weight: 500;
    font-size: 16px;
    padding: 8px 13px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 12px;
    transition: all 0.3s ease 0s;
}

.inpDefStd:focus {
    outline:none;
    border: 2px solid #1188ff;
}

.inpBigStd {
    font-family: var(--standart-font);
    font-weight: 500;
    font-size: 16px;
    padding: 10px 15px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 12px;
    transition: all 0.3s ease 0s;
}

.inpBigStd:focus {
    outline:none;
    border: 2px solid #1188ff;
}

.inpSmlStd {
    font-family: var(--standart-font);
    padding: 5px 10px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.inpSmlStd:focus {
    outline:none;
    border: 2px solid #1188ff;
}

.inpVsmStd {
    font-family: var(--standart-font);
    padding: 2px 6px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.inpVsmStd:focus {
    outline:none;
    border: 2px solid #1188ff;
}