@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}
:root{
    --fontStandart: 'Inter', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    --colorAccent: #1188ff;
    --colorAccentHover: #399cff;
}